body{
    Background:black;
    color:pink;
    font-style:italic;
}

header{
    text-align: center;
    font-size: 80px;
    font-style: oblique;
}



.col-sm{
    font-size: 50px;
    color:white;
}
.tags{color:grey;
    font-style: normal;
    
}

Img{
    float: right;}
